
  
  <div class="container" style="margin-top: 10px;">

  

   <div>
    <button (click)="toggleForm()" class="btn btn-secondary">
      {{ showForm ? 'Close' : 'Add User' }}
    </button>
  
  

    <form *ngIf="showForm" (ngSubmit)="addItem()" #itemForm="ngForm" style="max-width: fit-content;">
      <input type="hidden" [(ngModel)]="newItem.id" name="id">
      <div>
        <label>Name:</label>
        <input type="text" [(ngModel)]="newItem.name" name="name" required>
      </div>
      <div>
        <label>Role</label>
        <select  [(ngModel)]="newItem.role" name="role">
          <option value="User">User</option>
          <option value="Admin">Admin</option>
        </select>
      </div>
      <div>
        <label>Email:</label>
        <input type="email" [(ngModel)]="newItem.email" name="email" required>
        <!-- <div *ngIf="itemForm.controls.email.invalid && itemForm.controls.email.touched">
          <div *ngIf="itemForm.controls.email.errors.required">Email is required.</div>
          <div *ngIf="itemForm.controls.email.errors.email">Invalid email format.</div>
        </div> -->
        <div *ngIf="itemForm.controls['email'].invalid && itemForm.controls['email'].touched">
          <div style="color: red;" *ngIf="itemForm.controls['email'].errors?.['required']">Email is required.</div>
          <div *ngIf="itemForm.controls['email'].errors?.['email']">Invalid email format.</div>
        </div>

        
      </div>
    
      <button type="submit" class="btn btn-primary">{{ editMode ? 'Update' : 'Add' }}</button>
    </form>
    
  
    <div>
      <label>Search:</label>
      <input type="text" [(ngModel)]="searchQuery" (input)="applyFilter()" placeholder="Search by name or email ">
    </div>
  
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of paginatedData">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{item.role}}</td>
          <td>{{item.email}}</td>
          
          <td>
            <button (click)="editItem(item)" class="btn btn-warning">Edit</button>
            <button (click)="deleteItem(item.id)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div>
      <button (click)="prevPage()" [disabled]="currentPage === 1" class="btn btn-secondary">Previous</button>
      <button (click)="nextPage()" [disabled]="currentPage >= totalPages" class="btn btn-secondary">Next</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
    </div>
  </div>
  
</div>